## Data Assessment of Waterflow Historical Data

**Metadata Summary**  
- üìÖ **Date of Retrieval:** JULY 1, 2025  
- üåê **Source of Data:** LGU San Jacinto Treasury Records
- üìÑ **License/Permission:**  
- üßë‚Äçüíº **Prepared by:** MARK JUNE E. ALMOJUELA

# Overview of the Datasets

In [7]:
# Initialization
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [ ]:
# Dataset Availability and Compatibility Check

data_dir_path = "../../dataset/raw/"
try:
    years = [year for year in os.listdir(data_dir_path) if os.path.isdir(os.path.join(data_dir_path, year))]
    print("Available years: ", years, '\n')

    # List xlsx files in the directory
    for year in years:
        csv_files = [f for f in os.listdir(f'{data_dir_path}{year}') if f.endswith(".csv")]
        print(f"{year}: {csv_files}; \nCOUNT: {len(csv_files)}")
except FileNotFoundError:
    print("Directory not found")
except NotADirectoryError:
    print("Path is not a directory")
except PermissionError:
    print("Permission denied")
except Exception as e:
    print(f"An error occurred: {e}")

Available years:  ['2020', '2021', '2022', '2023', '2024', '2025']

2020: ['APR2020.csv', 'AUG2020.csv', 'DEC2020.csv', 'FEB2020.csv', 'JAN2020.csv', 'JUL2020.csv', 'JUN2020.csv', 'MAR2020.csv', 'MAY2020.csv', 'NOV2020.csv', 'OCT2020.csv', 'SEP2020.csv'];
COUNT: 12
2021: [];
COUNT: 0
2022: [];
COUNT: 0
2023: [];
COUNT: 0
2024: [];
COUNT: 0
2025: [];
COUNT: 0

In [32]:
import os
import pandas as pd

# ANSI styles for terminal color (optional: remove if not needed)
HEADER = "\033[95m"
OKBLUE = "\033[94m"
OKGREEN = "\033[92m"
WARNING = "\033[93m"
FAIL = "\033[91m"
RESET = "\033[0m"
BOLD = "\033[1m"

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

# Input and path setup
year = input("üìÖ Enter year: ")
data_dir_path = f"../../dataset/raw/{year}/"

# File discovery
csv_files = [f for f in os.listdir(data_dir_path) if f.endswith(".csv")]

for csv_file in csv_files:
    print(f"\n{BOLD}{OKGREEN}üìÇ Processing File: {csv_file}{RESET}")
    
    file_path = os.path.join(data_dir_path, csv_file)
    df = pd.read_csv(file_path, encoding='latin-1')

    print(f"{OKBLUE}üìå Shape:{RESET} {df.shape}")
    print(f"{OKBLUE}üßæ Columns:{RESET} {df.columns.tolist()}")
    print(f"{OKBLUE}üîç Data Types:{RESET}\n{df.dtypes}")
    print(f"{OKBLUE}‚ùì Missing Values:{RESET}\n{df.isnull().sum()}")
    print(f"{OKBLUE}üìä Descriptive Stats:{RESET}\n{df.describe(include='all')}")
    print(f"{WARNING}Duplicated Records:{RESET} {df.duplicated().sum()}")
    print(f"{WARNING}Duplicated Consumer Name:{RESET} {df.duplicated('Consumer\'s Name').sum()}")
    print(f"{WARNING}Duplicated Control Number:{RESET} {df.duplicated('Control Number').sum()}")
    
    print(f"{OKBLUE}üëÄ Sample Data:{RESET}")
    print(df.head())
    
    print(f"{OKBLUE}üß† Info Summary:{RESET}")
    df.info()

üìÇ Processing File: APR2020.csv
üìå Shape: (1633, 8)
üßæ Columns: ['Control Number', "Consumer's Name", 'Address', 'Water Meter Serial #', 'Previous', 'Present', 'Cons.', 'Amount']
üîç Data Types:
Control Number          float64
Consumer's Name          object
Address                  object
Water Meter Serial #     object
Previous                  int64
Present                   int64
Cons.                     int64
Amount                    int64
dtype: object
‚ùì Missing Values:
Control Number            1
Consumer's Name           0
Address                   0
Water Meter Serial #    698
Previous                  0
Present                   0
Cons.                     0
Amount                    0
dtype: int64
üìä Descriptive Stats:
        Control Number Consumer's Name    Address Water Meter Serial #  \
count      1632.000000            1633       1633                  935
unique             NaN            1553         24                  908
top                NaN  Dejumo, Sergia  Jones St.              2200103
freq               NaN               4        241                    8
mean     500852.643995             NaN        NaN                  NaN
std         495.691942             NaN        NaN                  NaN
min      500001.000000             NaN        NaN                  NaN
25%      500409.750000             NaN        NaN                  NaN
50%      500867.500000             NaN        NaN                  NaN
75%      501283.250000             NaN        NaN                  NaN
max      501695.000000             NaN        NaN                  NaN

            Previous       Present        Cons.        Amount
count    1633.000000   1633.000000  1633.000000   1633.000000
unique           NaN           NaN          NaN           NaN
top              NaN           NaN          NaN           NaN
freq             NaN           NaN          NaN           NaN
mean     1179.414574   1202.649112    23.234538    232.345377
std      1713.344544   1735.199831   135.989094   1359.890944
min         0.000000      0.000000   -44.000000   -440.000000
25%         4.000000      7.000000     0.000000      0.000000
50%       464.000000    488.000000    11.000000    110.000000
75%      1765.000000   1787.000000    24.000000    240.000000
max     17209.000000  17376.000000  3955.000000  39550.000000
Duplicated Records: 0
Duplicated Consumer Name: 80
Duplicated Control Number: 16
üëÄ Sample Data:
   Control Number      Consumer's Name       Address Water Meter Serial #  \
0        501549.0       Alba√±o, Lilane  Alicante St.                  NaN
1        500750.0  Aljecera, Marcelino  Alicante St.                  NaN
2        500990.0       Almi√±ana, Irus  Alicante St.                  NaN
3        500505.0       Almi√±e, Edison  Alicante St.             95022096
4        501542.0       Almi√±e, Filben  Alicante St.                  NaN

   Previous  Present  Cons.  Amount
0       232      247     15     150
1      3040     3051     11     110
2       504      537     33     330
3        32       63     31     310
4      3293     3314     21     210
üß† Info Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1633 entries, 0 to 1632
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Control Number        1632 non-null   float64
 1   Consumer's Name       1633 non-null   object
 2   Address               1633 non-null   object
 3   Water Meter Serial #  935 non-null    object
 4   Previous              1633 non-null   int64
 5   Present               1633 non-null   int64
 6   Cons.                 1633 non-null   int64
 7   Amount                1633 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 102.2+ KB

üìÇ Processing File: AUG2020.csv
üìå Shape: (1629, 8)
üßæ Columns: ['Control Number', "Consumer's Name", 'Address', 'Water Meter Serial #', 'Previous', 'Present', 'Cons.', 'Amount']
üîç Data Types:
Control Number            int64
Consumer's Name          object
Address                  object
Water Meter Serial #     object
Previous                 object
Present                  object
Cons.                   float64
Amount                   object
dtype: object
‚ùì Missing Values:
Control Number            0
Consumer's Name           0
Address                   0
Water Meter Serial #    703
Previous                 61
Present                 325
Cons.                   490
Amount                  372
dtype: int64
üìä Descriptive Stats:
        Control Number Consumer's Name    Address Water Meter Serial #  \
count      1629.000000            1629       1629                  926
unique             NaN            1561         24                  899
top                NaN    Almodal, Noe  Jones St.              2200103
freq               NaN               4        237                    8
mean     500853.447514             NaN        NaN                  NaN
std         496.064559             NaN        NaN                  NaN
min      500001.000000             NaN        NaN                  NaN
25%      500410.000000             NaN        NaN                  NaN
50%      500868.000000             NaN        NaN                  NaN
75%      501284.000000             NaN        NaN                  NaN
max      501700.000000             NaN        NaN                  NaN

       Previous Present        Cons. Amount
count      1568    1304  1139.000000   1257
unique     1041    1010          NaN    110
top       DISC.   DISC.          NaN     60
freq        259      44          NaN    351
mean        NaN     NaN    29.769974    NaN
std         NaN     NaN    32.971252    NaN
min         NaN     NaN     1.000000    NaN
25%         NaN     NaN    12.000000    NaN
50%         NaN     NaN    22.000000    NaN
75%         NaN     NaN    37.000000    NaN
max         NaN     NaN   497.000000    NaN
Duplicated Records: 0
Duplicated Consumer Name: 68
Duplicated Control Number: 5
üëÄ Sample Data:
   Control Number      Consumer's Name       Address Water Meter Serial #  \
0          501549       Alba√±o, Lilane  Alicante St.                  NaN
1          500750  Aljecera, Marcelino  Alicante St.                  NaN
2          500990       Almi√±ana, Irus  Alicante St.                  NaN
3          500505       Almi√±e, Edison  Alicante St.             95022096
4          501542       Almi√±e, Filben  Alicante St.                  NaN

  Previous Present  Cons. Amount
0      286     298   12.0     72
1     3086    3103   17.0    102
2      619     652   33.0    198
3      179     224   45.0    270
4     3401    3451   50.0    300
üß† Info Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Control Number        1629 non-null   int64
 1   Consumer's Name       1629 non-null   object
 2   Address               1629 non-null   object
 3   Water Meter Serial #  926 non-null    object
 4   Previous              1568 non-null   object
 5   Present               1304 non-null   object
 6   Cons.                 1139 non-null   float64
 7   Amount                1257 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 101.9+ KB

üìÇ Processing File: DEC2020.csv
üìå Shape: (1575, 8)
üßæ Columns: ['Control Number', "Consumer's Name", 'Address', 'Water Meter Serial #', 'Previous', 'Present', 'Cons.', 'Amount']
üîç Data Types:
Control Number          float64
Consumer's Name          object
Address                  object
Water Meter Serial #     object
Previous                 object
Present                  object
Cons.                   float64
Amount                   object
dtype: object
‚ùì Missing Values:
Control Number             9
Consumer's Name            0
Address                    0
Water Meter Serial #     637
Previous                 106
Present                  925
Cons.                   1029
Amount                   936
dtype: int64
üìä Descriptive Stats:
        Control Number Consumer's Name    Address Water Meter Serial #  \
count      1566.000000            1575       1575                  938
unique             NaN            1506         24                  911
top                NaN  Dejumo, Sergia  Jones St.              2200103
freq               NaN               4        230                    8
mean     500820.305875             NaN        NaN                  NaN
std         478.584882             NaN        NaN                  NaN
min      500001.000000             NaN        NaN                  NaN
25%      500392.250000             NaN        NaN                  NaN
50%      500834.500000             NaN        NaN                  NaN
75%      501236.750000             NaN        NaN                  NaN
max      501643.000000             NaN        NaN                  NaN

       Previous Present        Cons.   Amount
count      1469     650   546.000000      639
unique      947     538          NaN       87
top       DISC.  DEFECT          NaN   60.00
freq        207      52          NaN      220
mean        NaN     NaN    24.146520      NaN
std         NaN     NaN   115.428379      NaN
min         NaN     NaN -2571.000000      NaN
25%         NaN     NaN    11.000000      NaN
50%         NaN     NaN    20.000000      NaN
75%         NaN     NaN    35.000000      NaN
max         NaN     NaN   296.000000      NaN
Duplicated Records: 0
Duplicated Consumer Name: 69
Duplicated Control Number: 19
üëÄ Sample Data:
   Control Number      Consumer's Name       Address Water Meter Serial #  \
0        501549.0       Alba√±o, Lilane  Alicante St.                  NaN
1        500750.0  Aljecera, Marcelino  Alicante St.                  NaN
2        500990.0       Almi√±ana, Irus  Alicante St.                  NaN
3        500505.0       Almi√±e, Edison  Alicante St.             95022096
4        501542.0       Almi√±e, Filben  Alicante St.                  NaN

  Previous Present  Cons. Amount
0      198     NaN    NaN    NaN
1   DEFECT     NaN    NaN    NaN
2      437     NaN    NaN    NaN
3   DEFECT     NaN    NaN    NaN
4     3211     NaN    NaN    NaN
üß† Info Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1575 entries, 0 to 1574
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Control Number        1566 non-null   float64
 1   Consumer's Name       1575 non-null   object
 2   Address               1575 non-null   object
 3   Water Meter Serial #  938 non-null    object
 4   Previous              1469 non-null   object
 5   Present               650 non-null    object
 6   Cons.                 546 non-null    float64
 7   Amount                639 non-null    object
dtypes: float64(2), object(6)
memory usage: 98.6+ KB

üìÇ Processing File: FEB2020.csv
üìå Shape: (1624, 8)
üßæ Columns: ['Control Number', "Consumer's Name", 'Address', 'Water Meter Serial #', 'Previous', 'Present', 'Cons.', 'Amount']
üîç Data Types:
Control Number          float64
Consumer's Name          object
Address                  object
Water Meter Serial #     object
Previous                 object
Present                  object
Cons.                   float64
Amount                   object
dtype: object
‚ùì Missing Values:
Control Number            6
Consumer's Name           0
Address                   0
Water Meter Serial #    689
Previous                171
Present                 731
Cons.                   622
Amount                  487
dtype: int64
üìä Descriptive Stats:
        Control Number Consumer's Name    Address Water Meter Serial #  \
count      1618.000000            1624       1624                  935
unique             NaN            1550         24                  908
top                NaN  Dejumo, Sergia  Jones St.              2200103
freq               NaN               4        239                    8
mean     500846.324475             NaN        NaN                  NaN
std         492.508307             NaN        NaN                  NaN
min      500001.000000             NaN        NaN                  NaN
25%      500406.250000             NaN        NaN                  NaN
50%      500861.500000             NaN        NaN                  NaN
75%      501272.750000             NaN        NaN                  NaN
max      501693.000000             NaN        NaN                  NaN

       Previous Present         Cons.   Amount
count      1453     893   1002.000000     1137
unique      981     672           NaN       82
top       DISC.   DISC.           NaN   60.00
freq        187      72           NaN      604
mean        NaN     NaN   -491.616766      NaN
std         NaN     NaN   1264.897844      NaN
min         NaN     NaN -14317.000000      NaN
25%         NaN     NaN   -172.500000      NaN
50%         NaN     NaN     10.000000      NaN
75%         NaN     NaN     21.000000      NaN
max         NaN     NaN    352.000000      NaN
Duplicated Records: 0
Duplicated Consumer Name: 74
Duplicated Control Number: 20
üëÄ Sample Data:
   Control Number      Consumer's Name       Address Water Meter Serial #  \
0        501549.0       Alba√±o, Lilane  Alicante St.                  NaN
1        500750.0  Aljecera, Marcelino  Alicante St.                  NaN
2        500990.0       Almi√±ana, Irus  Alicante St.                  NaN
3        500505.0       Almi√±e, Edison  Alicante St.             95022096
4        501542.0       Almi√±e, Filben  Alicante St.                  NaN

  Previous Present  Cons.    Amount
0      207     218   11.0    66.00
1     3023    3030    7.0    60.00
2      471     NaN    NaN       NaN
3      NaN       2    2.0    60.00
4     3252    3271   19.0   114.00
üß† Info Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1624 entries, 0 to 1623
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Control Number        1618 non-null   float64
 1   Consumer's Name       1624 non-null   object
 2   Address               1624 non-null   object
 3   Water Meter Serial #  935 non-null    object
 4   Previous              1453 non-null   object
 5   Present               893 non-null    object
 6   Cons.                 1002 non-null   float64
 7   Amount                1137 non-null   object
dtypes: float64(2), object(6)
memory usage: 101.6+ KB

üìÇ Processing File: JAN2020.csv
üìå Shape: (1579, 8)
üßæ Columns: ['Control Number', "Consumer's Name", 'Address', 'Water Meter Serial #', 'Previous', 'Present', 'Cons.', 'Amount']
üîç Data Types:
Control Number          float64
Consumer's Name          object
Address                  object
Water Meter Serial #     object
Previous                 object
Present                  object
Cons.                    object
Amount                   object
dtype: object
‚ùì Missing Values:
Control Number            7
Consumer's Name           0
Address                   0
Water Meter Serial #    642
Previous                160
Present                 241
Cons.                   539
Amount                  379
dtype: int64
üìä Descriptive Stats:
        Control Number Consumer's Name    Address Water Meter Serial #  \
count      1572.000000            1579       1579                  937
unique             NaN            1511         24                  910
top                NaN  Dejumo, Sergia  Jones St.              2200103
freq               NaN               4        230                    8
mean     500823.455471             NaN        NaN                  NaN
std         479.687453             NaN        NaN                  NaN
min      500001.000000             NaN        NaN                  NaN
25%      500394.750000             NaN        NaN                  NaN
50%      500838.500000             NaN        NaN                  NaN
75%      501240.250000             NaN        NaN                  NaN
max      501678.000000             NaN        NaN                  NaN

       Previous Present Cons.   Amount
count      1419    1338  1040     1200
unique      967     948   121      114
top       DISC.   DISC.     8   60.00
freq        168     126    42      458
mean        NaN     NaN   NaN      NaN
std         NaN     NaN   NaN      NaN
min         NaN     NaN   NaN      NaN
25%         NaN     NaN   NaN      NaN
50%         NaN     NaN   NaN      NaN
75%         NaN     NaN   NaN      NaN
max         NaN     NaN   NaN      NaN
Duplicated Records: 0
Duplicated Consumer Name: 68
Duplicated Control Number: 18
üëÄ Sample Data:
   Control Number      Consumer's Name       Address Water Meter Serial #  \
0        501549.0       Alba√±o, Lilane  Alicante St.                  NaN
1        500750.0  Aljecera, Marcelino  Alicante St.                  NaN
2        500990.0       Almi√±ana, Irus  Alicante St.                  NaN
3        500505.0       Almi√±e, Edison  Alicante St.             95022096
4        501542.0       Almi√±e, Filben  Alicante St.                  NaN

  Previous Present Cons.    Amount
0      198     207     9    60.00
1   DEFECT    3023   NaN    60.00
2      437     471    34   204.00
3   DEFECT  DEFECT   NaN    60.00
4     3211    3252    41   246.00
üß† Info Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1579 entries, 0 to 1578
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Control Number        1572 non-null   float64
 1   Consumer's Name       1579 non-null   object
 2   Address               1579 non-null   object
 3   Water Meter Serial #  937 non-null    object
 4   Previous              1419 non-null   object
 5   Present               1338 non-null   object
 6   Cons.                 1040 non-null   object
 7   Amount                1200 non-null   object
dtypes: float64(1), object(7)
memory usage: 98.8+ KB

üìÇ Processing File: JUL2020.csv
üìå Shape: (1630, 8)
üßæ Columns: ['Control Number', "Consumer's Name", 'Address', 'Water Meter Serial #', 'Previous', 'Present', 'Cons.', 'Amount']
üîç Data Types:
Control Number            int64
Consumer's Name          object
Address                  object
Water Meter Serial #     object
Previous                 object
Present                  object
Cons.                   float64
Amount                   object
dtype: object
‚ùì Missing Values:
Control Number            0
Consumer's Name           0
Address                   0
Water Meter Serial #    701
Previous                 96
Present                 389
Cons.                   513
Amount                  388
dtype: int64
üìä Descriptive Stats:
        Control Number Consumer's Name    Address Water Meter Serial #  \
count      1630.000000            1630       1630                  929
unique             NaN            1558         24                  902
top                NaN    Almodal, Noe  Jones St.              2200103
freq               NaN               4        238                    8
mean     500852.743558             NaN        NaN                  NaN
std         495.256373             NaN        NaN                  NaN
min      500001.000000             NaN        NaN                  NaN
25%      500410.250000             NaN        NaN                  NaN
50%      500867.500000             NaN        NaN                  NaN
75%      501282.750000             NaN        NaN                  NaN
max      501697.000000             NaN        NaN                  NaN

       Previous Present        Cons. Amount
count      1534    1241  1117.000000   1242
unique     1011     996          NaN     91
top       DISC.  DEFECT          NaN     60
freq        247      41          NaN    454
mean        NaN     NaN    21.675022    NaN

# Duplicate value anomaly

In [40]:
year = "2020"
month = "JUN"
column_name = "Consumer\'s Name"
data_dir_path = f"../../dataset/raw/{year}/"

# File discovery
test_df = pd.read_csv(os.path.join(data_dir_path, f"{month}{year}.csv"), encoding='latin-1')

# Show all instances of duplicates (including the first occurrence)
duplicates_mask = test_df[column_name].duplicated(keep=False)  # keep=False marks all duplicates as True
all_duplicates = test_df[duplicates_mask].sort_values(column_name)
all_duplicates

,Control Number,Consumer's Name,Address,Water Meter Serial #,Previous,Present,Cons.,Amount
681,501114.0,"Alba√±o, Emie",Don Juan St.,NaN,DISC.,DISC.,NaN,NaN
1471,501385.0,"Alba√±o, Emie",Moyot St.,NaN,837,837,NaN,60
302,501201.0,"Alcantara, Sheena",Bailon St.,28949,1983,1983,NaN,60
1396,501400.0,"Alcantara, Sheena",Lique St.,14Y125171,807,818,11.0,66
1092,500795.0,"Almi√±e, Edwin",Jones St.,51662,86,92,6.0,60
566,500994.0,"Almi√±e, Edwin",Bartolabac St.,027452-02,DISC.,DISC.,NaN,NaN
10,500544.0,"Almodal, Noe",Alicante St.,NaN,2418,NaN,NaN,NaN
306,500442.0,"Almodal, Noe",Bailon St.,NaN,1082,1128,46.0,276
568,500441.0,"Almodal, Noe",Bartolabac St.,02865-02,569,602,33.0,198
1095,500653.0,"Almodal, Noe",Jones St.,NaN,1703,1707,4.0,60
1479,501606.0,"Almodiel, Edgar",Moyot St.,NaN,60,67,7.0,60
682,500143.0,"Almodiel, Edgar",Don Juan St.,017874-02,4623,4637,14.0,84
307,500389.0,"Almodiel, Edgar",Bailon St.,9521894,DEFECT,DEFECT,NaN,60
438,501492.0,"Almonte, Jasper",Balcavem St.,NaN,200,200,NaN,60
1486,501594.0,"Almonte, Jasper",Moyot St.,NaN,265,275,10.0,60
311,500840.0,"Almosara, Jose",Bailon St.,5468,174,178,4.0,60
575,501251.0,"Almosara, Jose",Bartolabac St.,NaN,554,571,17.0,102
850,500314.0,"Almosara, Jose",Fabmar St.,027457-02,4740,4741,1.0,60
21,501663.0,"Altiche, Nenita",Alicante St.,NaN,NaN,DISC.,NaN,NaN
690,500645.0,"Altiche, Nenita",Don Juan St.,NaN,572,593,21.0,126
578,500679.0,"Ballesteros, Jose Hans",Bartolabac St.,965311,1675,1678,3.0,60
854,501614.0,"Ballesteros, Jose Hans",Fabmar St.,NaN,633,660,27.0,162
326,500826.0,"Barredo, Edgar",Bailon St.,028981-02,DISC.,DISC.,NaN,NaN
1121,500463.0,"Barredo, Edgar",Jones St.,97112286,DISC.,NaN,NaN,NaN
28,501393.0,"Barrun, Ana",Alicante St.,028576-02,675,696,21.0,126
171,501026.0,"Barrun, Ana",Altarejos St.,NaN,382,402,20.0,120
1614,500090.0,"Barrun, Emma",Villamor St.,957419,1881,1900,19.0,114
857,500914.0,"Barrun, Emma",Fabmar St.,70805594,DEFECT,DEFECT,NaN,60
1055,500429.0,"Barrun, Jesus",Gutierrez St.,93315213,5760,5781,21.0,126
1124,500272.0,"Barrun, Jesus",Jones St.,9572721,2182,2195,13.0,78
694,500958.0,"Barrun, Jesus",Don Juan St.,HO481142,DEFECT,DEFECT,NaN,60
330,500274.0,"Barrun, Jose",Bailon St.,017143-02,4464,4501,37.0,222
31,500692.0,"Barrun, Jose",Alicante St.,NaN,2534,2621,87.0,522
242,501512.0,"Barrun, Marlon",Amican St.,NaN,948,958,10.0,60
755,501042.0,"Barrun, Marlon",Esparrago St.,NaN,2752,2782,30.0,180
858,501655.0,"Barrun, Marlon",Fabmar St.,NaN,98,110,12.0,72
636,500710.0,"Barrun, Nida",Bartolay St.,60402351,DEFECT,DEFECT,NaN,60
32,500585.0,"Barrun, Nida",Alicante St.,NaN,403,423,20.0,120
1125,501391.0,"Barrun, Nida",Jones St.,14-053436,DEFECT,DEFECT,NaN,60
585,501223.0,"Barrun, Ruth",Bartolabac St.,02814-02,2763,2763,NaN,60
1127,501054.0,"Barrun, Ruth",Jones St.,67369,DEFECT,DEFECT,NaN,60
759,500503.0,"Bartolata, Ariosto",Esparrago St.,9667670,4246,4305,59.0,354
335,501313.0,"Bartolata, Ariosto",Bailon St.,200506,132,136,4.0,60
1036,500193.0,"Bartolata, Eduardo",Grafilo St.,017765-02,1622,1646,24.0,144
1619,500092.0,"Bartolata, Eduardo",Villamor St.,967426,4171,4180,9.0,60
521,501052.0,"Bartolay, Amor",Balintong St.,018021-02,472,493,21.0,126
1149,500152.0,"Bartolay, Amor",Jones St.,14734,DEFECT,DEFECT,NaN,60
1504,501373.0,"Bartolay, Eden",Moyot St.,1415-7502,467,479,12.0,72
1152,501646.0,"Bartolay, Eden",Jones St.,NaN,58,58,NaN,60
46,500045.0,"Bartolay, Orlando",Alicante St.,NaN,DISC.,DISC.,NaN,NaN
47,500405.0,"Bartolay, Orlando",Alicante St.,NaN,1594,1600,6.0,60
981,501335.0,"Bartolay, Sonia",Flores St.,13057652,DISC.,NaN,NaN,NaN
872,501249.0,"Bartolay, Sonia",Fabmar St.,22200103,146,151,5.0,60
1518,501550.0,"Cantoria, Jose",Moyot St.,NaN,251,267,16.0,96
55,501676.0,"Cantoria, Jose",Alicante St.,NaN,67,80,13.0,78
767,500643.0,"Cantoria, Nena",Esparrago St.,017922-02,4113,4158,45.0,270
463,500360.0,"Cantoria, Nena",Balcavem St.,2200103,302,313,11.0,66
879,501037.0,"Cerillo, Ronnie",Fabmar St.,NaN,447,461,14.0,84
1420,500075.0,"Cerillo, Ronnie",Lique St.,937391,3573,3586,13.0,78
591,500296.0,"Cervantes, Alita",Bartolabac St.,028244-02,2450,2476,26.0,156
771,500323.0,"Cervantes, Alita",Esparrago St.,151844,1176,1231,55.0,330
59,501129.0,"Constantino, Pascual",Alicante St.,NaN,425,445,20.0,120
488,501286.0,"Constantino, Pascual",Balcavem St.,NaN,539,549,10.0,60
595,501254.0,"Dejumo, Marian",Bartolabac St.,NaN,76,91,15.0,90
251,501468.0,"Dejumo, Marian",Amican St.,NaN,535,549,14.0,90
1066,500282.0,"Dejumo, Sergia",Gutierrez St.,NaN,DISC.,DISC.,NaN,NaN
1065,500289.0,"Dejumo, Sergia",Gutierrez St.,9585650,3537,3555,18.0,108
64,501024.0,"Dejumo, Sergia",Alicante St.,NaN,NaN,DISC.,NaN,NaN
1064,500285.0,"Dejumo, Sergia",Gutierrez St.,NaN,24,40,16.0,96
1535,501374.0,"Delavin, Ma. Chinel",Moyot St.,NaN,DEFECT,DEFECT,NaN,60
1426,501326.0,"Delavin, Ma. Chinel",Lique St.,NaN,6659,6659,NaN,60
1199,500731.0,"Delavin, Nelly",Jones St.,028112-02,7599,7607,8.0,60
1534,500240.0,"Delavin, Nelly",Moyot St.,028468-02,6664,6696,32.0,192
352,500452.0,"Delavin, Nelly",Bailon St.,9401740,6559,6559,NaN,60
1071,500283.0,"Delavin, Nelson",Gutierrez St.,1804402,1838,1850,12.0,72
597,500777.0,"Delavin, Nelson",Bartolabac St.,097986-02,155,169,14.0,84
1200,501580.0,"Delavin, Ruel",Jones St.,NaN,DISC.,DISC.,NaN,NaN
351,501580.0,"Delavin, Ruel",Bailon St.,NaN,359,371,12.0,72
1538,500785.0,"Delos Santos, Flora",Moyot St.,017863-02,DEFECT,DEFECT,NaN,60
902,501049.0,"Delos Santos, Flora",Fabmar St.,151972,DISC.,DISC.,NaN,NaN
776,500325.0,"Delos Santos, Teddy",Esparrago St.,952463,5538,5564,26.0,156
701,501259.0,"Delos Santos, Teddy",Don Juan St.,913861,110,118,8.0,60
994,500057.0,"Dilao, Rosa",Flores St.,027972-02,370,386,16.0,96
1431,501489.0,"Dilao, Rosa",Lique St.,NaN,661,675,14.0,84
67,500357.0,"Elloso, Amy",Alicante St.,NaN,DISC.,DISC.,NaN,NaN
356,500404.0,"Elloso, Amy",Bailon St.,27822,1797,1804,7.0,60
1617,500642.0,"Escorel, Elisa",Villamor St.,NaN,3582,3588,6.0,60
434,501150.0,"Escorel, Elisa",Balcavem St.,NaN,640,647,7.0,60
603,500953.0,"Esparrago, Eden",Bartolabac St.,8880,884,908,24.0,144
70,501379.0,"Esparrago, Eden",Alicante St.,NaN,381,387,6.0,60
1000,500061.0,"Espenida, Cecilia",Flores St.,5188410-9,403,408,5.0,60
361,500715.0,"Espenida, Cecilia",Bailon St.,310434,DEFECT,DEFECT,NaN,60
1553,501479.0,"Garamay, Romer",Moyot St.,NaN,1124,1192,68.0,408
368,500145.0,"Garamay, Romer",Bailon St.,9071234,5130,5160,30.0,180
1241,500339.0,"Genova, Erlinda",Jones St.,028196-02,1171,1217,46.0,276
87,500008.0,"Genova, Erlinda",Alicante St.,966416,1752,1765,13.0,78
483,500701.0,"Genova, Noemi",Balcavem St.,NaN,133,145,12.0,72
1242,500701.0,"Genova, Noemi",Jones St.,11195,DISC.,DISC.,NaN,NaN
716,501432.0,"Gogolin, Rona Shiela",Don Juan St.,NaN,DEFECT,1342,NaN,60
1244,501432.0,"Gogolin, Rona Shiela",Jones St.,NaN,DISC.,DISC.,NaN,NaN
1562,501603.0,"Gutierrez, Elvisa",Moyot St.,NaN,706,749,43.0,258
1249,500966.0,"Gutierrez, Elvisa",Jones St.,017803-02,1063,1070,7.0,60
925,500305.0,"Gutierrez, Helen",Fabmar St.,017738-02,2388,2422,34.0,204
919,500395.0,"Gutierrez, Helen",Fabmar St.,NaN,DISC.,DISC.,NaN,NaN
717,500818.0,"Laila, Dante",Don Juan St.,NaN,4555,4629,74.0,444
1256,500410.0,"Laila, Dante",Jones St.,NaN,DISC.,DISC.,NaN,NaN
541,500751.0,"Lique, Jeanne",Balintong St.,017811-02,DISC.,DISC.,NaN,NaN
272,500162.0,"Lique, Jeanne",Amican St.,958451,7186,7206,20.0,120
1079,500575.0,"Llacer, Lony",Gutierrez St.,JJ16-4803,4647,4851,204.0,"1,224.00"
1044,500022.0,"Llacer, Lony",Grafilo St.,NaN,DISC.,NaN,NaN,NaN
802,501229.0,"Macoy, Amor",Esparrago St.,028143-02,DISC.,DISC.,NaN,NaN
389,501293.0,"Macoy, Amor",Bailon St.,017761-02,DISC.,DISC.,NaN,NaN
808,500345.0,"Mores, Hera Myra",Esparrago St.,151889,DISC.,DISC.,NaN,NaN
1286,501630.0,"Mores, Hera Myra",Jones St.,NaN,158,173,15.0,90
153,501285.0,"Omilgo, Michelle",Almonte St.,12-125484,1183,1315,132.0,792
1583,501551.0,"Omilgo, Michelle",Moyot St.,NaN,512,532,20.0,120
1291,501561.0,"Ongotan, Edwin",Jones St.,NaN,1083,1114,31.0,186
1458,500259.0,"Ongotan, Edwin",Lique St.,028241-02,2835,2841,6.0,60
117,500839.0,"Ontog, Chita",Alicante St.,61222355,4003,4052,49.0,294
1459,500626.0,"Ontog, Chita",Lique St.,028509-02,DISC.,DISC.,NaN,NaN
809,500756.0,"Orteza, Blas",Esparrago St.,NaN,DISC.,DISC.,NaN,NaN
411,500708.0,"Orteza, Blas",Bailon St.,NaN,DISC.,DISC.,NaN,NaN
526,500184.0,"Pensader, Elvie",Balintong St.,028461-02,704,727,23.0,138
412,500333.0,"Pensader, Elvie",Bailon St.,017009-02,DEFECT,DEFECT,NaN,60
812,500320.0,"Rejuso, Arlene",Esparrago St.,151662,DEFECT,DEFECT,NaN,60
1299,500893.0,"Rejuso, Arlene",Jones St.,027640-02,DISC.,DISC.,NaN,NaN
415,500365.0,"Rejuso, Jean",Bailon St.,017100-02,5398,5434,36.0,216
1461,500409.0,"Rejuso, Jean",Lique St.,957256,NaN,NaN,NaN,NaN
417,501462.0,"Rejuso, Rolando",Bailon St.,NaN,DEFECT,DEFECT,NaN,60
949,501345.0,"Rejuso, Rolando",Fabmar St.,NaN,DISC.,DISC.,NaN,NaN
1311,500558.0,"Serra, Albert",Jones St.,017791-02,DISC.,DISC.,NaN,NaN
622,501207.0,"Serra, Albert",Bartolabac St.,NaN,254,NaN,NaN,NaN
1389,500134.0,"Sola, Manuel",Letada St.,028455-02,DISC.,DISC.,NaN,NaN
1595,500134.0,"Sola, Manuel",Moyot St.,NaN,2311,2327,16.0,96
1088,501099.0,"Villahermosa, Lita",Gutierrez St.,NaN,DISC.,DISC.,NaN,NaN
132,500356.0,"Villahermosa, Lita",Alicante St.,96903254,1067,1071,4.0,60
285,500161.0,"Villamor, Jose",Amican St.,957521,2695,2706,11.0,66
625,501517.0,"Villamor, Jose",Bartolabac St.,NaN,1148,1192,44.0,264
428,500230.0,"Villamor, Romulo",Bailon St.,00000-460,649,685,36.0,216
731,501131.0,"Villamor, Romulo",Don Juan St.,NaN,446,NaN,NaN,NaN

In [39]:
year = "2020"
month = "JUN"
data_dir_path = f"../../dataset/raw/{year}/"

# File discovery
test_df = pd.read_csv(os.path.join(data_dir_path, f"{month}{year}.csv"), encoding='latin-1')

# Show all instances of duplicates (including the first occurrence)
duplicates_mask = test_df['Control Number'].duplicated(keep=False)  # keep=False marks all duplicates as True
all_duplicates = test_df[duplicates_mask].sort_values('Control Number')
all_duplicates

,Control Number,Consumer's Name,Address,Water Meter Serial #,Previous,Present,Cons.,Amount
1595,500134.0,"Sola, Manuel",Moyot St.,NaN,2311,2327,16.0,96
1389,500134.0,"Sola, Manuel",Letada St.,028455-02,DISC.,DISC.,NaN,NaN
746,500593.0,"Almonte, Edgar",Esparrago St.,121537,NaN,NaN,NaN,NaN
1337,500593.0,"Almonte, Edgar Sr.",Letada St.,NaN,2952,2964,12.0,72
1242,500701.0,"Genova, Noemi",Jones St.,11195,DISC.,DISC.,NaN,NaN
483,500701.0,"Genova, Noemi",Balcavem St.,NaN,133,145,12.0,72
318,500756.0,"Altiche, Lolita",Bailon St.,2200103,5248,5314,66.0,396
809,500756.0,"Orteza, Blas",Esparrago St.,NaN,DISC.,DISC.,NaN,NaN
1132,500849.0,"Barsaga, Josefa A",Jones St.,NaN,DISC.,DISC.,NaN,NaN
1113,500849.0,"Anos, Benito",Jones St.,017982-02,1767,1783,16.0,96
877,500916.0,"Capsa, Rochelle",Fabmar St.,017374-02,DISC.,DISC.,NaN,NaN
1524,500916.0,"Capsa, Rusiel",Moyot St.,NaN,1311,1338,27.0,162
1133,500963.0,"Barsaga, Josefa B",Jones St.,017784-02,DISC.,DISC.,NaN,NaN
1216,500963.0,"Edwards, Josefa",Jones St.,017805-02,DISC.,DISC.,NaN,NaN
900,500980.0,"Delavin, Angielyn",Fabmar St.,NaN,58,64,6.0,60
113,500980.0,"Martinez, Vincent",Alicante St.,NaN,DISC.,NaN,NaN,NaN
1088,501099.0,"Villahermosa, Lita",Gutierrez St.,NaN,DISC.,DISC.,NaN,NaN
450,501099.0,"Barsaga, Cendy",Balcavem St.,NaN,200,212,12.0,72
716,501432.0,"Gogolin, Rona Shiela",Don Juan St.,NaN,DEFECT,1342,NaN,60
1244,501432.0,"Gogolin, Rona Shiela",Jones St.,NaN,DISC.,DISC.,NaN,NaN
1200,501580.0,"Delavin, Ruel",Jones St.,NaN,DISC.,DISC.,NaN,NaN
351,501580.0,"Delavin, Ruel",Bailon St.,NaN,359,371,12.0,72
175,501667.0,"Barrun, Siony",Altarejos St.,NaN,20,24,4.0,60
1171,501667.0,"Bueta, Odessey",Jones St.,NaN,46,53,7.0,60
817,501687.0,"Villahermosa, Ma. Jill",Esparrago St.,NaN,87,107,20.0,120
818,501687.0,"Villahermosa, Maricel",Esparrago St.,NaN,DISC.,NaN,NaN,NaN