# Tabular Record Compilation

In [5]:
from pathlib import Path
import os
import pandas as pd

base_dir = Path("../../dataset/clean/pre_production")
years = os.listdir(base_dir)

columns = ['Control Number', 'Cleaned Present Reading']
all_data = []

for year in years:
    files = os.listdir(base_dir / year)
    for file in files:
        month = file.split("_")[0]
        df = pd.read_csv(base_dir / year / file, usecols=columns)
        df['Month_Year'] = f"{year}_{month}"
        all_data.append(df)

# Combine into a single DataFrame
df_all = pd.concat(all_data, ignore_index=True)

# Pivot to wide format
wide_df = df_all.pivot_table(
    index=['Control Number'],
    columns='Month_Year',
    values='Cleaned Present Reading',
).reset_index()

wide_df = wide_df.sort_index(axis=1)

# Optional: Sort columns so months are in order
print(wide_df.head())

Month_Year  2019_DEC  2020_APR  2020_AUG  2020_DEC  2020_FEB  2020_JAN  \
0                NaN       NaN       NaN       NaN       NaN       NaN
1                NaN       NaN       NaN       NaN       NaN       NaN
2                NaN       NaN       NaN       NaN       NaN       NaN
3                NaN    5465.0       NaN       NaN       NaN       NaN
4                NaN    3280.0       NaN       NaN       NaN       NaN

Month_Year  2020_JUL  2020_JUN  2020_MAR  2020_MAY  ...  2024_NOV  2024_OCT  \
0                NaN       NaN       NaN       NaN  ...       NaN       NaN
1                NaN       NaN       NaN       NaN  ...       0.0       NaN
2                NaN       NaN       NaN       NaN  ...       NaN       NaN
3                NaN       NaN       NaN       NaN  ...       0.0       0.0
4                NaN       NaN       NaN       NaN  ...    2629.0    2609.0

Month_Year  2024_SEP  2025_APR  2025_FEB  2025_JAN  2025_MAR  2025_MAY  \
0                NaN       NaN       NaN       NaN       NaN       NaN
1                NaN       0.0       0.0       0.0       0.0       0.0
2                NaN       NaN       NaN       NaN       NaN       NaN
3                0.0       0.0       0.0       0.0       0.0       0.0
4                NaN       NaN       NaN    2629.0       NaN    2782.0

Month_Year  2025_SEP  Control Number
0                NaN             0.0
1                0.0           121.0
2                NaN         50964.0
3                0.0        500001.0
4             2782.0        500002.0

[5 rows x 56 columns]

In [42]:
%pip install calendar

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement calendar (from versions: none)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for calendar

In [6]:
# ================================================
# Consolidate Wide Data with Connection Status and Last Reading
# ================================================

import calendar
import os
from utilities import read_csv, save_csv

# ------------------------------------------------
# 1. Read source datasets
# ------------------------------------------------
right_df = read_csv("../../dataset/clean/pre_production/2025/SEP_2025_pre_production.csv")  
name_df = read_csv("../../dataset/clean/semi_clean/cleaned_master.csv") 

# ------------------------------------------------
# 2. Merge connection status from pre-production
# ------------------------------------------------
final_df = wide_df.merge(
    right_df[['Control Number', 'Connection Status']],
    on='Control Number',
    how='left'
)

# Normalize connection status values
final_df['Connection Status'] = (
    final_df['Connection Status']
    .replace({"Invalid Reading": "Active"})  # Convert "Invalid Reading" to "Active"
    .fillna("Unknown")                       # Fill missing with "Unknown"
)

# ------------------------------------------------
# 3. Identify month columns (exclude non-monthly fields)
# ------------------------------------------------
fixed_cols_pre_sort = [col for col in final_df.columns if not col[0].isdigit()]  # Columns that are not YYYY_MON format
month_cols = [col for col in final_df.columns if col not in fixed_cols_pre_sort]

# ------------------------------------------------
# 4. Sort month columns chronologically
# ------------------------------------------------
month_map = {m.upper(): i for i, m in enumerate(calendar.month_abbr) if m}  # {"JAN":1, "FEB":2, ...}

month_cols_sorted = sorted(
    month_cols,
    key=lambda x: (int(x.split('_')[0]), month_map[x.split('_')[1].upper()])
)

# ------------------------------------------------
# 5. Compute the "Last Reading" (latest non-null value per row)
# ------------------------------------------------
final_df["Last Reading"] = final_df[month_cols_sorted].apply(
    lambda row: row.dropna().iloc[-1] if row.dropna().size > 0 else None,
    axis=1
)

# ------------------------------------------------
# 6. Merge account names from master list
# ------------------------------------------------
final_df = final_df.merge(
    name_df[['Control Number', 'Account Name']],
    on='Control Number',
    how='left'
)

# ------------------------------------------------
# 7. Final column ordering: fixed fields first, then months
# ------------------------------------------------
fixed_cols_final = ['Control Number', 'Account Name', 'Connection Status', 'Last Reading']
final_df = final_df[fixed_cols_final + month_cols_sorted]

# ------------------------------------------------
# 8. Save the consolidated output
# ------------------------------------------------
save_path = "../../dataset/clean/production/tabular/consolidated.csv"
os.makedirs(os.path.dirname(save_path), exist_ok=True)
save_csv(final_df, save_path)

# ------------------------------------------------
# 9. Preview output for sanity check
# ------------------------------------------------
display(final_df.head())
display(final_df.info())

,Control Number,Account Name,Connection Status,Last Reading,2019_DEC,2020_JAN,2020_FEB,2020_MAR,2020_APR,2020_MAY,...,2024_SEP,2024_OCT,2024_NOV,2024_DEC,2025_JAN,2025_FEB,2025_MAR,2025_APR,2025_MAY,2025_SEP
0,0.0,Kho Shipping Lines,Unknown,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,121.0,"Almodal, Maricel",Disconnected,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,50964.0,"Esparraguerra, Irish",Unknown,129.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,500001.0,"Encinares, Roberto",Disconnected,0.0,NaN,NaN,NaN,NaN,5465.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,500002.0,"Pareja, Myrna",Active,2782.0,NaN,NaN,NaN,NaN,3280.0,NaN,...,NaN,2609.0,2629.0,2629.0,2629.0,NaN,NaN,NaN,2782.0,2782.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 59 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Control Number     2175 non-null   float64
 1   Account Name       2074 non-null   object
 2   Connection Status  2175 non-null   object
 3   Last Reading       2175 non-null   float64
 4   2019_DEC           1142 non-null   float64
 5   2020_JAN           1175 non-null   float64
 6   2020_FEB           1207 non-null   float64
 7   2020_MAR           1227 non-null   float64
 8   2020_APR           1619 non-null   float64
 9   2020_MAY           1239 non-null   float64
 10  2020_JUN           1233 non-null   float64
 11  2020_JUL           1261 non-null   float64
 12  2020_AUG           1293 non-null   float64
 13  2020_SEP           1268 non-null   float64
 14  2020_OCT           1271 non-null   float64
 15  2020_NOV           1272 non-null   float64
 16  2020_DEC           1142 non-null   float64
 17  2022_JAN           1373 non-null   float64
 18  2022_FEB           1402 non-null   float64
 19  2022_MAR           1409 non-null   float64
 20  2022_APR           1402 non-null   float64
 21  2022_MAY           1377 non-null   float64
 22  2022_JUN           1433 non-null   float64
 23  2022_JUL           1402 non-null   float64
 24  2022_AUG           1362 non-null   float64
 25  2022_SEP           1362 non-null   float64
 26  2022_OCT           1453 non-null   float64
 27  2022_NOV           1464 non-null   float64
 28  2022_DEC           1499 non-null   float64
 29  2023_JAN           1509 non-null   float64
 30  2023_FEB           1531 non-null   float64
 31  2023_MAR           1548 non-null   float64
 32  2023_APR           1537 non-null   float64
 33  2023_MAY           1528 non-null   float64
 34  2023_JUN           1561 non-null   float64
 35  2023_JUL           1596 non-null   float64
 36  2023_AUG           1624 non-null   float64
 37  2023_SEP           1607 non-null   float64
 38  2023_OCT           1610 non-null   float64
 39  2023_NOV           1519 non-null   float64
 40  2023_DEC           1519 non-null   float64
 41  2024_JAN           1618 non-null   float64
 42  2024_FEB           1604 non-null   float64
 43  2024_MAR           1628 non-null   float64
 44  2024_APR           1599 non-null   float64
 45  2024_MAY           1627 non-null   float64
 46  2024_JUN           1641 non-null   float64
 47  2024_JUL           1656 non-null   float64
 48  2024_AUG           2088 non-null   float64
 49  2024_SEP           2085 non-null   float64
 50  2024_OCT           2086 non-null   float64
 51  2024_NOV           2080 non-null   float64
 52  2024_DEC           2071 non-null   float64
 53  2025_JAN           2088 non-null   float64
 54  2025_FEB           2087 non-null   float64
 55  2025_MAR           2081 non-null   float64
 56  2025_APR           2088 non-null   float64
 57  2025_MAY           2097 non-null   float64
 58  2025_SEP           2097 non-null   float64
dtypes: float64(57), object(2)
memory usage: 1002.7+ KB

None

In [8]:
# Create csv for disconnected accounts
disconnected_df = final_df[(final_df['Connection Status'] == 'Disconnected') | (final_df['Connection Status'] == 'Unknown')]
disconnected_df.to_csv("../../dataset/clean/production/tabular/disconnected.csv", index=False)